* {
  font-family: "Hind", sans-serif;
 
}

body{
  background-color: #1d1d1d;
}

/* header  */
.navbar-nav a {
  color: white;
  font-size: 15px;
  margin-right: 20px;
}

.cyber {
  font-size: 40px;
  color: white;
}

.navbar-nav .nav-item i {
  color: red;
}

/* carousel  */


/* Service */

.service{
  padding: 25px 0 50px 0;
}

.news h2 , .review h2{
  color: #1fc2e9;
  padding: 25px 0 25px 0;
  display: inline-block;
}

.news h2::after ,.review h2::after {
  content: "";
  height: 2.5px;
  display: block;
  width: 100%;
  background-color: #1fc2e9;
}



.news__right img , .review__right img {
  width: 100%;
  padding-bottom: 30px;
}

.news__left , .review__left{
  padding-left: 20px;
}

.news__left button{
  font-size: 13px;
  margin: 12px 0 12px 0;
}

.news__left a , .review__left a{
  color: white;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
}

.news__left p , .review__left p {
  color: white;
    font-weight: 500;
    font-size: 16px;

}
.star{
  color: yellow;
  margin: 12px 0;

}


@media screen and (max-width: 991px) {
  .news__left a , .review__left a{
    font-size: 13px;
  }
  .news__left p , .review__left p{
    font-size: 12px;
  }
}
 


/* 
#contact{
  background-image: url(./images/wonka-2048_1701227781614.webp);
  background-size: cover;
  height: 100%;
  width: 100%;
} */